<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/app.css}">

</head>
<body>

<div id="mainWrapper">
    <header>
        <h1> </h1>
        <h1 class="logo">Agreement manager</h1>
        <h2 class="forbidden">Strona testowa</h2>
    </header>

    <h1 class="forbidden">Oops... nie masz dostępu do tego zasobu.</h1>
    <h2>Aby to zmienić skontaktuj się z administratorem.</h2>
</div>
</body>
</html>